/*=========企業理念===============*/
body{
  padding: 0;
  margin: 0;
}
.image{
  position: relative;
  padding-top: 200px;  
}
.philosophy{
    opacity: 0.1;
}

p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  padding-top: 150px;
  font-size: 1.0em;
}

img{
  width: 100%;
}
/*=========企業概要===============*/
.info{
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 200px;  
}

.infomation{
    opacity: 0.1;
}

.infomation_text{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  padding-top: 200px;
  font-size: 1.0em;
}